{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Dashboard core CSS    -->
    <link href="{% static 'admin/css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'admin/css/mnq.css' %}" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'admin/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="azure" data-image="{% static 'admin/img/full-screen-image-1.jpg' %}">

    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        {% block content %}
                            {% block object-tools %}{% endblock %}
                            {{ content }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

    	<footer class="footer footer-transparent">
            <div class="container">
                <p class="copyright pull-right">
                    Design & Developed by: <a href="http://www.itsd.com.bd">ITSD</a>
                </p>
            </div>
        </footer>

    </div>

</div>

    <!--   Core JS Files and PerfectScrollbar library inside jquery.ui   -->
    <script src="{% static 'admin/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin/js/jquery-ui.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'admin/js/bootstrap.min.js' %}" type="text/javascript"></script>


	<!--  Forms Validations Plugin -->
	<script src="{% static 'admin/js/jquery.validate.min.js' %}"></script>

	<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
	<script src="{% static 'admin/js/moment.min.js' %}"></script>

    <!--  Date Time Picker Plugin is included in this js file -->
    <script src="{% static 'admin/js/bootstrap-datetimepicker.js' %}"></script>

    <!--  Select Picker Plugin -->
    <script src="{% static 'admin/js/bootstrap-selectpicker.js' %}"></script>

	<!--  Checkbox, Radio, Switch and Tags Input Plugins -->
	<script src="{% static 'admin/js/bootstrap-checkbox-radio-switch-tags.js' %}"></script>

	<!--  Charts Plugin -->
	<script src="{% static 'admin/js/chartist.min.js' %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'admin/js/bootstrap-notify.js' %}"></script>

    <!-- Sweet Alert 2 plugin -->
	<script src="{% static 'admin/js/sweetalert2.js' %}"></script>

    <!-- Vector Map plugin -->
	<script src="{% static 'admin/js/jquery-jvectormap.js' %}"></script>

    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

	<!-- Wizard Plugin    -->
    <script src="{% static 'admin/js/jquery.bootstrap.wizard.min.js' %}"></script>

    <!--  Datatable Plugin    -->
    <script src="{% static 'admin/js/bootstrap-table.js' %}"></script>

    <!--  Full Calendar Plugin    -->
    <script src="{% static 'admin/js/fullcalendar.min.js' %}"></script>

    <!-- Light Bootstrap Dashboard Core javascript and methods -->
	<script src="{% static 'admin/js/light-bootstrap-dashboard.js' %}"></script>

	<script src="{% static 'admin/js/mnq.js' %}"></script>

    <script type="text/javascript">
        (function($) {

            'use strict';

            $(document).ready(function() {
                console.log('ff');
                lbd.checkFullPageBackgroundImage();

                setTimeout(function(){
                    // after 1000 ms we add the class animated to the login/register card
                    $('.card').removeClass('card-hidden');
                }, 700)
            });

        })(jQuery);
    </script>
</body>
</html>
