{% extends "admin/base_login.html" %}
{% load i18n static %}

{% block content %}
    {% if form.errors and not form.non_field_errors %}
        <p class="alert alert-danger">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                {% trans "Please correct the errors below." %}{% endif %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
        <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
        <div class="card card-hidden">
            <div class="header text-center">Login</div>
            <div class="content">
                <div class="form-group has-feedback">
                    <label>User name</label>
                    <input type="text" id="id_username" name="username" class="form-control" placeholder="Username">
                    {{ form.username.errors }}
                </div>
                <div class="form-group has-feedback">
                    <label>Password</label>
                    <input type="password" id="id_password" name="password" class="form-control" placeholder="Password">
                    {{ form.password.errors }}
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                    <div class="password-reset-link">
                        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                    </div>
                {% endif %}
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-fill btn-success btn-wd">{% trans 'Log In' %}</button>
            </div>
        </div>

    </form>


    {% if user.is_authenticated %}
        <p class="alert alert-danger">
            {% blocktrans trimmed %}
                You are authenticated as {{ username }}, but are not authorized to
                access this page. Would you like to login to a different account?
            {% endblocktrans %}
        </p>
    {% endif %}

{% endblock %}