{% load staticfiles %}
<div class="row">
    <div class="col-lg-6">
        <div class="card card-inverse card-warning">
            <div class="card-block p-b-0">
                <h4 class="m-b-0">1000</h4>
                <p>personals are unattended</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card card-inverse card-info">
            <div class="card-block p-b-0">
                <h4 class="m-b-0">2000</h4>
                <p>personals are on leave</p>
            </div>
        </div>
    </div>
</div>