{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Tanvir M">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content=""/>
    <meta property="og:url" content="{{ request.path }}">
    {% block thumbnail %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/simple-line-icons.css' %}">
    <!-- Main styles for this application -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
    <!--DataTable css-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/css/jquery.dataTables.min.css">
    <!--Select 2-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">

    <!--Jquery UI-->
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% if not DEBUG %}
    {% endif %}
    <title>{% block head_title %}{% endblock %}</title>
    <style>
        table thead tr th {
            text-align: center;
            white-space: nowrap
        }

        table tbody tr td {
            text-align: center;
            white-space: nowrap
        }
    </style>
</head>