{% extends 'staff_panel_base.html' %}
{% load static %}

{% block extrahead %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="#">
                {% csrf_token %}
                <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
                <div class="card">
                    <div class="header text-center">
                        Change password
                        {% if message %}
                            {% if message == 'Password change successful !' %}
                                <p class="text-success">{{ message }}</p>
                            {% else %}
                                <p class="text-danger">{{ message }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="form-group">
                            <label>Old password</label>
                            <input type="password" name="old-password"
                                   placeholder="Old password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>New password</label>
                            <input type="password" name="new-password"
                                   placeholder="New password" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label>Retype new password</label>
                            <input type="password" name="retype-password" placeholder="Retype password"
                                   class="form-control" required>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <div class="form-group-sm">
                            <span id="message"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-fill btn-warning btn-wd">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
{% endblock %}

{% block script %}
    <!--Custom js-->
    <script src="{% static 'custom/js/staff_panel_password_change.js' %}"></script>
{% endblock %}